/*HW-1*/
.header{background-color: #38e0ff; 
    height: 100px; 
    line-height: 100px; 
    text-align: center; 
    color: #ffffff; 
    font-size: 30px}
.nav{background-color: #ffeb00; 
    height: 30px; 
    line-height: 30px; 
    text-align: center; 
    color: #ffffff; 
    font-size: 30px}
.sidebar{float: left; 
    background-color: #001cf5; 
    width: 25%;
    height: 900px; 
    line-height: 900px; 
    text-align: center; 
    color: #ffffff; 
    font-size: 30px}
.main{float: right; 
    background-color: #38ff47; 
    width: 75%; height: 900px; 
    line-height: 900px; 
    text-align: center; 
    color: #ffffff; 
    font-size: 30px}
.footer{background-color: #ffab38; 
    height: 1000px; 
    line-height: 100px; 
    text-align: center; 
    color: #ffffff; 
    font-size: 30px}

/*HW-2*/
.title>li{display: inline-block; 
        text-align: center;
        border: 1px solid #000; 
        position: relative;
        padding: .5em 1em; 
        margin: -2px; 
        box-sizing: border-box;    
        width: 25%;        
}
.title>li:last-child{border-right: 1px solid #ddd;
}
.submenu{width: 200px; 
        padding: 0px; 
        list-style-type: none; 
        position: absolute;
        left: -10px; 
        top: 100%; 
        cursor: pointer; 
        border-radius: 5px;
        display: none; 
}
.title>li:hover.submenu{display: block;
}
.submenu li{
  padding: .5em 15px;
  color: black;
  cursor: pointer;
  list-style-type:none;
}
.submenu li:hover{
  color: gray;
  background: white;
}
/*HW4-3*/
.fixed-circle{width:50px;
    height:50px;
    border-radius:50%;
    color:#ffffff;
    line-height:50px;
    text-align:center;
    background:#ff0000; 
    font-size:50px;
    font-family: Arial;
    font-weight: 900;
    display: inline-block;
    position: fixed;
    top: 870px;
    left: 680px;    
}
